ion-searchbar {
  margin: 10px;
}

ion-item {
  --background: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

ion-thumbnail img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

ion-label {
  font-size: 16px;
}

ion-label h2 {
  font-weight: bold;
}

ion-label p {
  margin: 5px 0;
}

ion-text {
  text-align: center;
  display: block;
  margin-top: 20px;
  color: #999;
}
ion-content {
  --padding-start: 2rem;
  --padding-end: 2rem;
  --padding-top: 15px;
}
ion-searchbar {
  --box-shadow: none;
  --background: #f3f3f3;
  --border-radius: 1.2rem;
  --placeholder-font-weight: 600;
  --placeholder-opacity: 0.2;

  padding: 0;
  margin-bottom: 2rem;
}
.img-thumb{
  object-fit: cover;
  width: 80px; /* Tăng chiều rộng của thumbnail */
  height: 60px; /* Bạn có thể tăng chiều cao tương ứng nếu cần */
  margin-right: 1rem; /* Khoảng cách giữa thumbnail và nội dung */
}
